
:root{
    --primary-text-colour:#757575;  
    --tite-text-colour: #212121;
    --accent-color:#2196F3;
}
.page{
    background-color: #fff;
    color:var(--primary-text-colour) ;}
  .list {
      list-style: none;
  }
  
    /* site-nav */
    .site-nav .link { color: #212121;;
    }
    .site-nav .link:hover, .site-nav .link:focus{
       color:var(--accent-color) ; 
    }
    .hero{
        color: #fff;
        background-color: #2F303A;
    }
    .section-title{
        color: var(--tite-text-colour);
    }
    .feature-list .title{
        color:var(--tite-text-colour);
    }

/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* і ще один колір тексту #FFFFFF */
/* акцент  #2196F3 */
/* фон колір другорядний: #2F303A */
/* тел і меіл футера color: rgba(255, 255, 255, 0.6); */
/* фон команди background #F5F4FA */
/* фон основний background: #FFFFFF; */

