
:root{
    --primary-text-color:#757575;  
    --title-text-color: #212121;
    --accent-color:#2196F3;
}
.page{
    background-color: #fff;
    color:var(--primary-text-color) ;}
  .list {
      list-style: none;
  }
  
    /* site-nav */
    .site-nav .link { color: #212121;;
    }
    .site-nav .link:hover, .site-nav .link:focus{
       color:var(--accent-color) ; 
    }
    /* auth-nav */
        .auth-nav .link {
            color: var(--primary-text-color);
        }
        .auth-nav .link:hover,
        .auth-nav .link:focus {
            color: var(--accent-color);}
    /* hero */
    .hero{
        color: #fff;
        background-color: #2F303A;
    }
    .section-title{color:black;}
    /* feauture */
    .features-list .title{
        color:var(--title-text-color);
    }
    /* work */
    /* employee */
    .employee-list .title{color:var(--title-text-color)}

/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* і ще один колір тексту #FFFFFF */
/* акцент  #2196F3 */
/* фон колір другорядний: #2F303A */
/* тел і меіл футера color: rgba(255, 255, 255, 0.6); */
/* фон команди background #F5F4FA */
/* фон основний background: #FFFFFF; */

